# Node.js dependencies
node_modules/
npm-debug.log*

# Environment variables
.env

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS files
.DS_Store

# IDE files
.idea/
.vscode/
*.sublime-workspace

